<div class="container">
  <div class="header">
    <h1>Mis Reservas</h1>
  </div>
  <div class="reservas" *ngFor="let reserva of reservas"
    [ngStyle]="{'background-color': isReservaExpired(reserva) ? 'grey' : 'white'}">
    <div class="reserva" name="reserva">
      <div class="restaurante">
        <h2>{{reserva.nameRestaurante}}</h2>
      </div>
      <div class="info">
        <p>Fecha: {{reserva.date}}</p>
        <p>Cantidad de personas: {{reserva.numberPers}}</p>
      </div>
    </div>
  </div>
</div>
